In [ ]:
import pandas as pd
import json
import requests
import os

import asyncio

from time import time
from http import HTTPStatus
import aiohttp

In [ ]:
Combined = pd.read_csv('/content/drive/MyDrive/Total.csv')
# os.getcwd()
# os.chdir(r'C:\Users\user\Pictures\Step1')
# file_list = os.listdir()
# for single_file in file_list:
#     Combined = pd.read_csv(single_file)

In [ ]:
limit = asyncio.Semaphore(3)

async def get_coordinates(session,coordinates):
    async with await session.post(url="https://geocode.xyz",data={"locate": coordinates,"geoit": "json"}) as r:
        address= r.json()
        if r.status == 200:
            return await address
        else:
            return None
async def get_all(session, coordinates):
    tasks = []
    for i, coordinate in enumerate(coordinates):
        task = asyncio.create_task(get_coordinates(session,coordinate))
        tasks.append(task)
    results = await asyncio.gather(*tasks)
    return results

async def main():
    async with aiohttp.ClientSession() as session:
        result = await get_all(session, coordinates)
        return result

In [ ]:
# Combined.rename(columns={'0':'address'},inplace=True)

In [ ]:
Combined.head(5)

,Unnamed: 0,level_0,Unnamed: 0.1,index,Long,Lat,Time,Date,Temp,Rain,address,temp,rain
0,0,0,0,0,103.873090,1.367430,2022-11-28T02:00,2022-11-28,27.9,0.0,SERANGOON NORTH AVENUE 1,27.9,0.0
1,1,1,1,1,103.937250,1.335150,2022-11-28T02:00,2022-11-28,27.9,0.0,None,27.9,0.0
2,2,2,2,2,103.780450,1.361830,2022-11-28T02:00,2022-11-28,27.8,0.0,Bukit Timah Expressway,27.8,0.0
3,3,3,3,3,103.967793,1.332490,2022-11-28T02:00,2022-11-28,28.0,0.0,None,28.0,0.0
4,4,4,4,4,103.975539,1.330379,2022-11-28T02:00,2022-11-28,28.0,0.0,None,28.0,0.0

In [ ]:
Empty = Combined[Combined['address'] == 'None']
Filled = Combined[Combined['address']!= 'None']

In [ ]:
print(Combined.shape[0], Filled.shape[0])

14000 6823

In [ ]:
limit = asyncio.Semaphore(3)
activity_set =[]
async def get_coordinates(session,coordinates):
    async with await session.post(url="https://geocode.xyz",data={"locate": coordinates,"geoit": "json"}) as r:
        address= r.json()
        if r.status == 200:
            return await address
        else:
            return None
async def get_all(session, coordinates):
    tasks = []
    for i, coordinate in enumerate(coordinates):
        task = asyncio.create_task(get_coordinates(session,coordinate))
        tasks.append(task)
    results = await asyncio.gather(*tasks)
    return results

async def main():
    async with aiohttp.ClientSession() as session:
        result = await get_all(session, coordinates)
        return result

In [ ]:
Combined

,Unnamed: 0,level_0,Unnamed: 0.1,index,Long,Lat,Time,Date,Temp,Rain,address,temp,rain
0,0,0,0,0,103.873090,1.367430,2022-11-28T02:00,2022-11-28,27.9,0.0,SERANGOON NORTH AVENUE 1,27.9,0.0
1,1,1,1,1,103.937250,1.335150,2022-11-28T02:00,2022-11-28,27.9,0.0,None,27.9,0.0
2,2,2,2,2,103.780450,1.361830,2022-11-28T02:00,2022-11-28,27.8,0.0,Bukit Timah Expressway,27.8,0.0
3,3,3,3,3,103.967793,1.332490,2022-11-28T02:00,2022-11-28,28.0,0.0,None,28.0,0.0
4,4,4,4,4,103.975539,1.330379,2022-11-28T02:00,2022-11-28,28.0,0.0,None,28.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,1995,1995,1995,495,103.989063,1.361011,2022-11-28T09:00,2022-11-28,30.7,0.0,None,28.5,0.0
13996,1996,1996,1996,496,103.951228,1.349552,2022-11-28T09:00,2022-11-28,30.7,0.0,None,28.5,0.0
13997,1997,1997,1997,497,103.788590,1.346593,2022-11-28T09:00,2022-11-28,31.0,0.0,None,28.0,0.0
13998,1998,1998,1998,498,103.877731,1.307754,2022-11-28T09:00,2022-11-28,30.7,0.0,Nicoll Highway,28.5,0.0
13999,1999,1999,1999,499,103.849695,1.300516,2022-11-28T09:00,2022-11-28,30.7,0.0,None,28.5,0.0

In [ ]:
coordinates = []
for i, x in enumerate(Combined.values):
   coordinates.append(str(x[5])+','+str(x[4]))

In [ ]:
coordinates[1]

'1.33515,103.93725'

In [ ]:
if __name__ == '__main__':
  results = await(main())

CancelledError: ignored

In [ ]:
address_list = []
for i in range(len(results)):
    try:
        address_list.append(results[i]['staddress'])
    except:
        address_list.append('None')
        pass

In [ ]:
print(address_list)

['None', 'None', 'None', 'None', 'None', 'None', 'None', 'Bukit Batok West Avenue 2', 'None', 'None', 'None', 'None', 'None', 'None', 'BURGUNDY CRESCENT', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'BUKIT BATOK EAST AVENUE 6', 'None', 'None', 'None', 'Gateway Avenue', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'Simei Park Connector', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'Novena Rise', 'Kallang-Paya Lebar Expressway', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'SERANGOON NORTH AVENUE 4', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'BENCOOLEN STREET', 'Woodlands Avenue 7', 'None', 'None', 'None', 'Yishun Avenue 8', 'None', 'Hougang Ave 9', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'JURONG WEST STREET 73', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'ANG MO KIO AVENUE 1', 'None', 'None', 'None', 'None', 'None', 'None', 'Ang Mo Kio Street 61', 'None', 'None', 'Serangoon Ave', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None']

In [ ]:
while Filled.shape[0]!=Combined.shape[0]:
  Empty = Combined[Combined['address'] == 'None']
  Filled = Combined[Combined['address']!= 'None']
  coordinates = []
  for i, x in enumerate(Empty.values):
    coordinates.append(str(x[5])+','+str(x[4]))
  if __name__ == '__main__':
    results = await(main())
  address_list = []
  for i in range(len(results)):
      try:
          address_list.append(results[i]['staddress'])
      except:
          address_list.append('None')
          pass
  Empty['address'] = address_list
  Filled_new= Empty[Empty['address']!='None']
  Empty_new = Empty[Empty['address']=='None']
  Filled = pd.concat([Filled,Filled_new], axis=0)
  Combined = pd.concat([Filled,Empty_new], axis=0)
  print(Filled.shape)

<ipython-input-71-4d30b62f07c5>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Empty['address'] = address_list

(6897, 13)
(6949, 13)
(7000, 13)
(7054, 13)
(7104, 13)
(7155, 13)
(7201, 13)
(7256, 13)
(7304, 13)
(7356, 13)
(7407, 13)
(7458, 13)
(7509, 13)
(7562, 13)
(7614, 13)
(7663, 13)
(7710, 13)
(7755, 13)
(7800, 13)
(7846, 13)
(7893, 13)
(7936, 13)
(7985, 13)
(8032, 13)
(8080, 13)
(8122, 13)
(8165, 13)
(8207, 13)
(8250, 13)
(8299, 13)
(8344, 13)
(8388, 13)
(8429, 13)
(8472, 13)
(8517, 13)
(8561, 13)
(8599, 13)
(8641, 13)
(8682, 13)
(8718, 13)
(8761, 13)
(8798, 13)
(8838, 13)
(8876, 13)
(8916, 13)
(8952, 13)
(8992, 13)
(9035, 13)
(9072, 13)
(9110, 13)
(9145, 13)
(9180, 13)
(9216, 13)
(9248, 13)
(9286, 13)
(9322, 13)
(9356, 13)
(9396, 13)
(9432, 13)
(9466, 13)
(9504, 13)
(9540, 13)
(9577, 13)
(9614, 13)
(9648, 13)
(9681, 13)
(9710, 13)
(9745, 13)
(9779, 13)
(9814, 13)
(9854, 13)
(9886, 13)
(9919, 13)
(9953, 13)
(9982, 13)
(10016, 13)
(10058, 13)
(10087, 13)
(10118, 13)
(10146, 13)
(10176, 13)
(10206, 13)
(10235, 13)
(10267, 13)
(10303, 13)
(10334, 13)
(10364, 13)
(10391, 13)
(10421, 13)
(10448, 13)
(10474, 13)
(10501, 13)
(10531, 13)
(10561, 13)
(10589, 13)
(10614, 13)
(10641, 13)
(10668, 13)
(10695, 13)
(10725, 13)
(10758, 13)
(10784, 13)
(10811, 13)
(10837, 13)
(10861, 13)
(10885, 13)
(10911, 13)
(10933, 13)
(10958, 13)
(10981, 13)
(11010, 13)
(11034, 13)
(11056, 13)
(11086, 13)
(11110, 13)
(11134, 13)
(11159, 13)
(11182, 13)
(11204, 13)
(11233, 13)
(11258, 13)
(11280, 13)
(11303, 13)
(11330, 13)
(11352, 13)
(11373, 13)
(11394, 13)
(11417, 13)
(11439, 13)
(11459, 13)
(11481, 13)
(11503, 13)
(11526, 13)
(11551, 13)
(11573, 13)
(11591, 13)
(11614, 13)
(11632, 13)
(11650, 13)
(11671, 13)
(11687, 13)
(11705, 13)
(11724, 13)
(11745, 13)
(11766, 13)
(11786, 13)
(11803, 13)
(11824, 13)
(11841, 13)
(11861, 13)
(11877, 13)
(11894, 13)
(11920, 13)
(11944, 13)
(11965, 13)
(11986, 13)
(12006, 13)
(12028, 13)
(12047, 13)
(12066, 13)
(12085, 13)
(12104, 13)
(12121, 13)
(12138, 13)
(12159, 13)
(12173, 13)
(12189, 13)
(12205, 13)
(12217, 13)
(12231, 13)
(12256, 13)
(12276, 13)
(12297, 13)
(12313, 13)
(12328, 13)
(12341, 13)
(12360, 13)
(12379, 13)
(12394, 13)
(12410, 13)
(12424, 13)
(12436, 13)
(12457, 13)
(12471, 13)
(12484, 13)
(12499, 13)
(12513, 13)
(12526, 13)
(12539, 13)
(12553, 13)
(12572, 13)
(12586, 13)
(12598, 13)
(12612, 13)
(12627, 13)
(12640, 13)
(12653, 13)
(12666, 13)
(12681, 13)
(12696, 13)
(12715, 13)
(12730, 13)
(12744, 13)
(12756, 13)
(12772, 13)
(12786, 13)
(12796, 13)
(12809, 13)
(12817, 13)
(12829, 13)
(12845, 13)
(12858, 13)
(12872, 13)
(12885, 13)
(12897, 13)
(12908, 13)
(12918, 13)
(12926, 13)
(12936, 13)
(12947, 13)
(12955, 13)
(12965, 13)
(12975, 13)
(12983, 13)
(12995, 13)
(13006, 13)
(13019, 13)
(13028, 13)
(13038, 13)
(13048, 13)
(13057, 13)
(13069, 13)
(13080, 13)
(13091, 13)
(13102, 13)
(13112, 13)
(13120, 13)
(13130, 13)
(13139, 13)
(13149, 13)
(13156, 13)
(13168, 13)
(13178, 13)
(13188, 13)
(13198, 13)
(13208, 13)
(13219, 13)
(13229, 13)
(13240, 13)
(13248, 13)
(13259, 13)
(13268, 13)
(13278, 13)
(13287, 13)
(13295, 13)
(13305, 13)
(13312, 13)
(13321, 13)
(13331, 13)
(13338, 13)
(13347, 13)
(13353, 13)
(13361, 13)
(13371, 13)
(13380, 13)
(13385, 13)
(13394, 13)
(13399, 13)
(13407, 13)
(13412, 13)
(13421, 13)
(13426, 13)
(13436, 13)
(13446, 13)
(13451, 13)
(13458, 13)
(13466, 13)
(13475, 13)
(13483, 13)
(13488, 13)
(13493, 13)
(13503, 13)
(13511, 13)
(13517, 13)
(13525, 13)
(13529, 13)
(13538, 13)
(13546, 13)
(13557, 13)
(13565, 13)
(13571, 13)
(13576, 13)
(13585, 13)
(13592, 13)
(13598, 13)
(13604, 13)
(13608, 13)
(13617, 13)
(13623, 13)
(13628, 13)
(13639, 13)
(13645, 13)
(13652, 13)
(13658, 13)
(13663, 13)
(13668, 13)
(13676, 13)
(13681, 13)
(13686, 13)
(13693, 13)
(13695, 13)
(13698, 13)
(13703, 13)
(13708, 13)
(13712, 13)
(13716, 13)
(13721, 13)
(13728, 13)
(13734, 13)
(13743, 13)
(13747, 13)
(13751, 13)
(13756, 13)
(13760, 13)
(13765, 13)
(13770, 13)
(13775, 13)
(13780, 13)
(13786, 13)
(13787, 13)
(13791, 13)
(13796, 13)
(13801, 13)
(13807, 13)
(13810, 13)
(13814, 13)
(13818, 13)
(13821, 13)
(13825, 13)
(13829, 13)
(13829, 13)
(13834, 13)
(13842, 13)
(13845, 13)
(13849, 13)
(13853, 13)
(13853, 13)
(13857, 13)
(13859, 13)
(13864, 13)
(13868, 13)
(13868, 13)
(13875, 13)
(13883, 13)
(13883, 13)
(13888, 13)
(13888, 13)
(13896, 13)
(13898, 13)
(13899, 13)
(13905, 13)
(13905, 13)
(13911, 13)
(13911, 13)
(13915, 13)
(13915, 13)
(13920, 13)
(13920, 13)
(13925, 13)
(13925, 13)
(13928, 13)
(13929, 13)
(13933, 13)
(13933, 13)
(13933, 13)
(13938, 13)
(13938, 13)
(13942, 13)
(13942, 13)
(13942, 13)
(13947, 13)
(13951, 13)
(13958, 13)
(13958, 13)
(13963, 13)
(13963, 13)
(13963, 13)
(13963, 13)
(13967, 13)
(13967, 13)
(13968, 13)
(13972, 13)
(13972, 13)
(13976, 13)
(13976, 13)
(13976, 13)
(13976, 13)
(13981, 13)
(13985, 13)
(13985, 13)
(13991, 13)
(13991, 13)
(13991, 13)
(13991, 13)
(13995, 13)
(13995, 13)
(13995, 13)
(13995, 13)
(13999, 13)
(13999, 13)
(13999, 13)
(13999, 13)
(14000, 13)

In [ ]:
Combined.head(10)

,Unnamed: 0,level_0,Unnamed: 0.1,index,Long,Lat,Time,Date,Temp,Rain,address,temp,rain
0,0,0,0,0,103.87309,1.36743,2022-11-28T02:00,2022-11-28,27.9,0.0,SERANGOON NORTH AVENUE 1,27.9,0.0
2,2,2,2,2,103.78045,1.36183,2022-11-28T02:00,2022-11-28,27.8,0.0,Bukit Timah Expressway,27.8,0.0
6,6,6,6,6,103.95221,1.33496,2022-11-28T02:00,2022-11-28,28.0,0.0,Upper Changi Road,28.0,0.0
7,7,7,7,7,103.79623,1.43342,2022-11-28T02:00,2022-11-28,27.9,0.0,Blk 556/Woodlands Ave,27.9,0.0
8,8,8,8,8,103.90742,1.39637,2022-11-28T02:00,2022-11-28,28.0,0.0,EDGEFIELD PLAINS,28.0,0.0
10,10,10,10,10,103.93600,1.33519,2022-11-28T02:00,2022-11-28,27.9,0.0,Pan-Island Expressway,27.9,0.0
11,11,11,11,11,103.97886,1.38602,2022-11-28T02:00,2022-11-28,28.0,0.0,Loyang Avenue,28.0,0.0
16,16,16,16,16,103.98434,1.35087,2022-11-28T02:00,2022-11-28,28.0,0.0,T3 Departure Drive,28.0,0.0
17,17,17,17,17,103.90659,1.40467,2022-11-28T02:00,2022-11-28,28.0,0.0,PUNGGOL ROAD,28.0,0.0
18,18,18,18,18,103.96783,1.33226,2022-11-28T02:00,2022-11-28,28.0,0.0,CHANGI SOUTH AVENUE 2,28.0,0.0

In [ ]:
Combined.to_csv('Combined_Total.csv')